.todo-container {
	width: 700px;
	margin: 200px auto;
	display: flex;
	flex-direction: column;
	border: 1px solid #000;
	background-color: #fff;
	padding: 20px 40px 0 40px;
}

.todo-title {
	font-size: 20px;
	margin-bottom: 10px;
}
