.todo-tasks {
	margin: 20px 0;
}

.todo-tasks .task {
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
	font-size: 16px;
}

.task input[type="checkbox"] {
	cursor: pointer;
	margin-right: 10px;
	width: 15px;
	height: 15px;
}

.task span {
	font-size: 18px;
}

.task .fa-trash {
	color: #8d0b0b;
	cursor: pointer;
}

.done {
	text-decoration: line-through;
}
