.todo-form {
	width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.todo-form textarea {
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	font-size: 18px;
	border-radius: 4px;
}

.todo-form button {
	padding: 10px 50px;
	background-color: green;
	font-size: 16px;
	color: #fff;
	border: none;
	border-radius: 4px;
}
