.todo-form {
	display: flex;
}

.todo-form input {
	width: 100%;
	padding: 10px 15px;
	margin-right: 10px;
}

.todo-form .btn-add {
	color: #fff;
	background-color: blue;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
